<header>
    <div class="container">
        <div class="item">
            <div class="logo">
                <img src="../logo.png" alt="">
            </div>
            <div class="nav">
                <ul>
                    <a href="/">
                        <li>HOME</li>
                    </a><a href="/">
                        <li>ABOUT</li>
                    </a><a href="/">
                        <li>SHOP</li>
                    </a><a href="/">
                        <li>PROMO</li>
                    </a>
                </ul>
            </div>
            <button class="mob"> </span> <span class="lines"></span> <span class="lines"></span>
                <span class="lines"></span>
        </div>

    </div>
    </div>
</header>