<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='../css/header.css'>
    <link rel='stylesheet' type='text/css' href='../css/body.css'>
    <link rel='stylesheet' href='../css/shop.css'>

</head>

<body>
    <header>
        <div class="item">
            <div class="logo">
                <img src="../logo.png" alt="">
            </div>
            <div class="nav">
                <ul>
                    <a href="/">
                        <li>HOME</li>
                    </a><a href="/">
                        <li>ABOUT</li>
                    </a><a href="/">
                        <li>SHOP</li>
                    </a><a href="/">
                        <li>PROMO</li>
                    </a>
                </ul>
            </div>
            <button class="mob"> </span> <span class="lines"></span> <span class="lines"></span>
                <span class="lines"></span>
        </div>

        </div>

    </header>
    <div>

        <div class="body">
            <section class="text">
                <div class="ponits"><span class="ponits"></span><span class="ponits"></span></div>
                <h1>Special Sale Only Today!</h1>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis vitae nulla quis
                    egestas.
                    Mauris eros diam,
                    rutrum posuere velit sit amet Fusce piscing. consectetur adipiscing moter dose.</span>
                <div class="buttons">
                    <a href="" class="btn btn-text">Buy Now</a>

                    <a href="" class=" btn-text">Learn more</a>
                </div>
                <div class="socal">
                    <img src="../Facebook.png" alt="">
                    <img src="../Instagram.png" alt="">
                    <img src="../Twitter.png" alt="">
                    <img src="../Whatsapp.png" alt="">
                </div>
            </section>
            </section>
        </div>

    </div>

    <div class="text-between">
        <div class="container">
            <h2>LATEST DROPS</h2>
        </div>
    </div>
    <section>
        <div class="container">
            <section class="main">
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>

                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>

                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>

                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>
                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>


            </section>
            <section class="main">
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>

                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>

                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>

                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>
                <div class="img-con">
                    <div>
                        <div class="img">
                            <img src="../s.png" alt="">
                        </div>
                        <div class="contenct">
                            <h1>ايقون للبيع</h1>
                            <span class="price">170.000</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="" class="btn btn-text">Buy Now</a>
                    </div>
                </div>


            </section>
    </section>
    <div class="text-between">
        <div class="container">
            <h2>LATEST DROPS</h2>
        </div>
    </div>
    <script src="../js/header.js"></script>

</body>

</html>