<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/meda.css">
    <link rel="stylesheet" href="../css/nollz.css">
    <link rel='stylesheet' type='text/css' href='../css/header.css'>

</head>

<body>
    {{>header}}
    <section class="drop">
        <div>
            <span>متجر</span>
        </div>

    </section>



    <script src="../js/header.js"></script>
</body>

</html>